.section-subtitle{
    color: var(--first-color);
    font-family: var(--second-font);
    font-size: var(--h2-font-size);
    position: relative;
}
.section-subtitle::before,
.section-subtitle::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.section-subtitle::before {
  bottom: -1px;
  width: 50px;
  border: 1px solid var(--first-color);
  border-radius: 1rem;
}

.section-subtitle::after {
  bottom: -0.25rem;
  width: 8px;
  height: 8px;
  background-color: var(--first-color);
}

.section-title{
  font-size: var(--h2-font-size);
  margin: 1rem 0.3rem;
}

.section-title span{
  color: var(--first-color);
}