.reservation-head {
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgb(8, 7, 7)),
              url("https://images.unsplash.com/photo-1555396273-367ea4eb4db5") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.reservation-container {
  background: #ffffff;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  
  
}
@media (max-width:768px){

.reservation-container{
flex-direction:column;
}

}

.reservation-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
}

.reservation-form .form-group {
  margin-bottom: 15px;
}

.reservation-form input,
.reservation-form select,
.reservation-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.reservation-form textarea {
  resize: none;
  height: 80px;
}

.form-row {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.reserve-btn {
  width: 100%;
  padding: 12px;
  background: #d35400;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.reserve-btn:hover {
  background: #a04000;
}