.gallery-head{
    padding: 8%;
    padding-bottom: 80px;
    padding-top: 80px;
}

.gallery-container{
    column-count: 3;
    column-gap: 1.5rem;
}

.gallery-item{
    border-radius: 3rem 3rem 3rem 0;
    overflow: hidden;
    margin-bottom: 1.5rem;
    position: relative;
}

.gallery-item::before{
    content: '';
    position: absolute;
    inset: 0.5rem;
    background-color: var(--first-color);
    border-radius: inherit;
}


.gallery-item::before,
.gallery-link{

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s ;
}

.gallery-item:hover::before{
    opacity: 0.9;
    visibility: visible;
}



.gallery-link{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-color);
    font-size: 3rem;

}